.section2{
  background-image: url('img/section2.jpg');
    background-size: cover;
}
.section3{
  background-image: url('img/section3.jpg');
    background-size: cover;
}
.section4{
  background-image: url('img/section4.jpg');
    background-size: cover;
}
.section {
  text-align: center;
  font-size: 3em;
}
